##====---- SudokuTests/.clang-tidy                                    ----====##
##
## Specialization for use in a Google-Test project
##====--------------------------------------------------------------------====##
#

HeaderFilterRegex: 'Sudoku[\\\/].*'
Checks:
 '*,
  bugprone-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  modernize-*,
  -modernize-use-equals-delete,
  performance-*,
  portability-*,
  readability-*,
  -readability-braces-around-statements,
  -readability-avoid-const-params-in-decls,
  -readability-named-parameter,
  -readability-else-after-return,
  hicpp-*,
  -hicpp-braces-around-statements,
  -hicpp-special-member-functions,
  -hicpp-use-equals-delete,
  -hicpp-vararg,
  clang-analyzer-*,
  -clang-analyzer-optin\.mpi*,
  -clang-analyzer-optin\.osx*,
  -clang-analyzer-osx*,
  -clang-analyzer-unix*,
  llvm-*,
  -llvm-header-guard,
  -llvm-include-order,
  -llvm-namespace-comment,
  google-*,
  -google-readability-braces-around-statements,
  -google-readability-namespace-comments,
  -google-readability-todo,
  -google-objc-*,
  abseil-*,
  boost-*,
  misc-*,
  cert-*,
  -cert-dcl21-cpp,
  -cert-err58-cpp,
  -android-*,
  -fuchsia-*,
  -mpi-*,
  -objc-*,
  -ziron-*'

CheckOptions:
  - key:   bugprone-argument-comment.StrictMode
    value: '1'
  - key:   bugprone-assert-side-effect.CheckFunctionCalls
    value: '0'
  - key:   bugprone-suspicious-enum-usage.StrictMode
    value: '1'
  - key:   readability-function-size.LineThreshold
    value: '-1'
  - key:   readability-function-size.StatementThreshold
    value: '800'
  - key:   readability-function-size.BranchThreshold
    value: '-1'
  - key:   readability-function-size.ParameterThreshold
    value: '-1'
  - key:   readability-function-size.NestingThreshold
    value: '-1'
  - key:   readability-braces-around-statements.ShortStatementLines
    value: '3'
  - key:   portability-simd-intrinsics.Suggest
    value: '1'
