##====---- /.clang-tidy                                               ----====##
##
## General configuration
##====--------------------------------------------------------------------====##
## Documentation:
##   https://clang.llvm.org/extra/clang-tidy/
##   https://clang.llvm.org/extra/clang-tidy/checks/list.html
##
## Disable locally:
##  // Silence all the diagnostics for the line
##  Foo(int param); // NOLINT
##
##  // Silence only the specified checks for the line
##  Foo(double param); // NOLINT(google-explicit-constructor,google-runtime-int)
##
##  // Silence only the specified diagnostics for the next line
##  // NOLINTNEXTLINE(google-explicit-constructor, google-runtime-int)
##  Foo(bool param);
##
##  No space before `(`, inside parenthesis white-space is ignored.
##====--------------------------------------------------------------------====##
## Please, keep sorted by name.
##
## Updated for Clang-Tidy v8.0.0
#

---
HeaderFilterRegex: Sudoku|Console[\\\/].*
FormatStyle: file
Checks: '*,
  abseil-*,
  -android-*,
  boost-*,
  bugprone-*,
  cert-*,
  -cert-dcl21-cpp,
  clang-analyzer-*,
  -clang-analyzer-optin\.mpi*,
  -clang-analyzer-optin\.osx*,
  -clang-analyzer-osx*,
  -clang-analyzer-unix*,
  cppcoreguidelines-*,
  -fuchsia-*,
  google-*,
  -google-objc-*,
  -google-readability-braces-around-statements,
  -google-readability-todo,
  hicpp-*,
  -hicpp-braces-around-statements,
  llvm-*,
  -llvm-header-guard,
  -llvm-include-order,
  misc-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  -mpi-*,
  -objc-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-avoid-const-params-in-decls,
  -readability-braces-around-statements,
  -readability-named-parameter,
  -ziron-*'

CheckOptions:
- key:   bugprone-argument-comment.StrictMode
  value: '1'
- key:   bugprone-assert-side-effect.CheckFunctionCalls
  value: '0'
- key:   bugprone-sizeof-expression.WarnOnSizeOfIntegerExpression
  value: '1'
- key:   bugprone-suspicious-enum-usage.StrictMode
  value: '1'
- key:   bugprone-suspicious-string-compare.WarnOnLogicalNotComparison
  value: '1'
- key:   cppcoreguidelines-macro-usage.AllowedRegexp
  value: '^(DEBUG_*|_set(argv|envp))'
- key:   cppcoreguidelines-narrowing-conversions.PedanticMode
  value: '1'
- key:   misc-unused-parameters.StrictMode
  value: '1'
- key:   performance-for-range-copy.WarnOnAllAutoCopies
  value: '1'
- key:   performance-inefficient-string-concatenation.StrictMode
  value: '1'
- key:   portability-simd-intrinsics.Suggest
  value: '1'
- key:   readability-braces-around-statements.ShortStatementLines
  value: '3'
- key:   readability-function-size.LineThreshold
  value: '-1'
- key:   readability-function-size.StatementThreshold
  value: '800'
- key:   readability-function-size.BranchThreshold
  value: '-1'
- key:   readability-function-size.ParameterThreshold
  value: '-1'
- key:   readability-function-size.NestingThreshold
  value: '-1'
- key:   readability-function-size.VariableThreshold
  value: '-1'

...
